POSTGRES_DB=camisa7
POSTGRES_USER=camisa7_user
POSTGRES_PASSWORD=camisa7_pass
POSTGRES_PORT=5433

BACKEND_PORT=3333
BACKEND_HOST=0.0.0.0
BACKEND_PUBLIC_URL=http://127.0.0.1:3333
DATABASE_URL=postgresql://camisa7_user:camisa7_pass@127.0.0.1:5433/camisa7

NEXT_PUBLIC_API_URL=http://127.0.0.1:3333/api
NEXT_PUBLIC_WHATSAPP_PHONE=5511999999999
